[class^=section-]{
    height: calc(100vh - 4rem);
    overflow: hidden;
    color: #fff;
    text-align: center;
    h2{
        width: 75%;
        font-size: 2.4em;
        margin: 0 auto;
        margin-top: 1em;
    }
    p{
        padding: 1.4em;
    }
}

.section-1, .section-3{
    background-color: $blue-color;
}

.section-2{
    background-color: $main-color;
    h2{
        color: $blue-color;
    }
}

// Seccion separada de las demás
.section-4{
    background-color: #f5f5f5;
    color: #444;
    
    article{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        order: 2;
        position: relative;

        h2{
            margin-top: 15px;
        }
    }

    img{
        order: 1;
        width: 100%;          
    }

    .btn{
        display: inline-block;
        width: 40%;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        background-color: $main-color;
        color: #fff;
    }

    @media screen and (min-width:$desktop){
        height: auto;
        img{
            order: 2;
            width: 50%;  
            margin-top: 0 !important;
            height: 100%;
        }
    }
}


//  media queries
.container-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (min-width: $desktop){

        justify-content: space-around;
        align-items: center;
        
        article{
            width: 40%;
            text-align: left;
            h2{
                padding: 20px;
                margin: 0;
            }
        }

        img{
            margin-top: 4.5em;
        }
        
    }
}